---
import { changeLanguage } from "i18next";
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
import Alpine from 'alpinejs'

changeLanguage("en");



---

<Layout title="Contact">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Apostas Desportivas</Fragment>
			<Fragment slot="desc" class="mb-12">Get in Touch.</Fragment>  
      
		</Sectionhead>
    <div x-data="{
      activeTab: 'tab1',
      showBetSlip: false,
      boletimMessage: 'Ainda sem apostas',
      boletimMessage2: '--------',
      betAmount: 1,
      odds: {},
      potentialWinnings: '0.00',
      generateOdd(id) {
        if (!(id in this.odds)) {
          this.odds[id] = (1 + Math.random() * 9).toFixed(2); // Ensures odd is between 1.00 and 10.00
        }
        this.currentOdd = this.odds[id];
        this.updatePotentialWinnings(); // Make sure to update winnings when odds change
      },
      updatePotentialWinnings() {
        this.potentialWinnings = (this.betAmount * parseFloat(this.currentOdd)).toFixed(2);
        console.log('Atualizando ganhos possíveis', this.potentialWinnings, 'e odd', this.currentOdd);
      },
      init() {
        this.updatePotentialWinnings(); // Initial update on component mount
      }
    }" class="flex flex-wrap mx-4 dark:text-white" x-init="init">
            <div class="max-w-1/2  px-2">
              <button
      :class="{ 'text-blue-500 border-blue-500': activeTab === 'tab1' }"
      class="px-4 py-2 border-b-2 focus:outline-none"
      @click.prevent="activeTab = 'tab1'">
      <!-- Ícone Ao Vivo -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
      </svg>
      Ao Vivo
    </button>
    
    <!-- Tab Futebol -->
    <button
      :class="{ 'text-green-500 border-green-500': activeTab === 'tab2' }"
      class="px-4 py-2 border-b-2 focus:outline-none"
      @click.prevent="activeTab = 'tab2'">
      <!-- Ícone de Bola de Futebol SVG -->
      <img src="https://cdn-icons-png.freepik.com/512/211/211950.png" class="h-5 w-5 inline-block mr-1" alt="Futebol" />
      Futebol
    </button>
    
    <!-- Tab Ténis -->
    <button
      :class="{ 'text-yellow-500 border-yellow-400': activeTab === 'tab3' }"
      class="px-4 py-2 border-b-2 focus:outline-none"
      @click.prevent="activeTab = 'tab3'">
      <!-- Ícone Ténis -->
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Tennis_ball_3.svg/1024px-Tennis_ball_3.svg.png" class="h-5 w-5 inline-block mr-1" alt="Futebol" />
      Ténis
    </button>
  
    <button
          :class="{ ' text-orange-500 border-orange-500': activeTab === 'tab4' }"
          class="px-4 py-2 border-b-2 focus:outline-none"
          @click.prevent="activeTab = 'tab4'">
          <img src="https://static.vecteezy.com/system/resources/previews/013/515/360/original/basketball-ball-icon-png.png" class="h-5 w-5 inline-block mr-1" alt="Futebol" />
          Basquetebol
        </button> 

        <!-- Tab Voleibol -->
        <button
          :class="{ 'text-blue-400 border-blue-400': activeTab === 'tab5' }"
          class="px-4 py-2 border-b-2 focus:outline-none"
          @click.prevent="activeTab = 'tab5'">
          <img src="https://cdn-icons-png.flaticon.com/512/184/184042.png" class="h-5 w-5 inline-block mr-1" alt="Futebol" />
          Voleibol
        </button>

        <!-- Tab E-Sports -->
        <button
          :class="{ 'text-purple-500 border-purple-500': activeTab === 'tab6' }"
          class="px-4 py-2 border-b-2 focus:outline-none"
          @click.prevent="activeTab = 'tab6'">
          <img src="https://cdn-icons-png.flaticon.com/512/7915/7915399.png" class="h-5 w-5 inline-block mr-1" alt="Futebol" />
          Esports
        </button>

        <!-- Tab Golfe -->
        <button
          :class="{ 'text-red-500 border-red-500': activeTab === 'tab7' }"
          class="px-4 py-2 border-b-2 focus:outline-none"
          @click.prevent="activeTab = 'tab7'">
          <img src="https://cdn-icons-png.flaticon.com/512/753/753858.png" class="h-5 w-5 inline-block mr-1" alt="Futebol" />
          Golfe
        </button>

         <!-- Tab hockei -->
        <button
      :class="{ 'text-gray-500 border-gray-400': activeTab === 'tab8' }"
      class="px-4 py-2 border-b-2 focus:outline-none"
      @click.prevent="activeTab = 'tab8'">
      <!-- Ícone Ténis -->
      <img src="https://cdn-icons-png.freepik.com/256/13165/13165006.png" class="h-5 w-5 inline-block mr-1 dark:invert" alt="Futebol" />
      Hóquei
    </button>

    <button
      :class="{ 'text-pink-500 border-pink-400': activeTab === 'tab9' }"
      class="px-4 py-2 border-b-2 focus:outline-none"
      @click.prevent="activeTab = 'tab9'">
      <!-- Ícone Ténis -->
      <img src="https://cdn-icons-png.flaticon.com/512/6729/6729605.png" class="h-5 w-5 inline-block mr-1 " alt="Futebol" />
      Andebol
    </button>
    <button
      :class="{ 'text-teal-500 border-teal-400': activeTab === 'tab10' }"
      class="px-4 py-2 border-b-2 focus:outline-none"
      @click.prevent="activeTab = 'tab10'">
      <!-- Ícone Ténis -->
      <img src="https://static.vecteezy.com/system/resources/thumbnails/020/575/868/small_2x/3d-icon-illustration-billiard-ball-with-number-ten-png.png" class="h-5 w-5 inline-block mr-1 " alt="Futebol" />
      Snooker
    </button>
        
      </nav>
  </nav>
            </nav>
          
            <!-- Tabs content -->
            <div class="border p-4 dark:border-gray-800">
              <div x-show="activeTab === 'tab1'">
                <div x-data="{ activeTab: 'tab1', showBetSlip: false }" class="p-6">
                  <!-- Tabs navigation -->
                  <nav class="flex flex-row">
                    <!-- Botões de navegação das tabs existentes... -->
                  </nav>
                
                  <!-- Tabs content -->
<!-- Tabs content -->
<div class="borderp-4">
  <!-- Conteúdo para a tab "Ao Vivo" -->
  <div x-show="activeTab === 'tab1'">
    
  <h4 class="text-2xl font-bold dark:text-white">Futebol</h4>

  <h1 class="text-sl font-bold text-white  dark:text-black">.</h1>

    <!-- Seção de jogos ao vivo -->
    <div class="mb-4">
      
      <!-- Jogo específico -->
      <div class="flex justify-between items-center mb-2 dark:text-invert">
        <span>Inglaterra: Premier League - <b>Manchester City 4 - 1 Aston Villa</b></span>
        <span>62min - 2ª Parte</span>
      </div>
      
      <!-- Contêiner para botões usando grid -->
      <div class="grid grid-cols-3 gap-4 mb-4">
        <button @click="boletimMessage = 'Manchester City vs Aston Villa', boletimMessage2 = 'Vitória Manchester City', generateOdd('ex1')" class="px-3 py-1 bg-blue-400 text-white rounded">Vitória Manchester City</button>
        <button @click="boletimMessage = 'Manchester City vs Aston Villa', boletimMessage2 = 'Empate', generateOdd('ex2')" class="px-3 py-1 bg-yellow-500 text-black rounded">Empate</button>
        <button @click="boletimMessage = 'Manchester City vs Aston Villa', boletimMessage2 = 'Vitória Aston Villa', generateOdd('ex3')"class="px-3 py-1 bg-pink-900 text-white rounded">Vitória Aston Villa</button>
      </div>

      <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
      
      <!-- Repetir para outros jogos, mantendo a estrutura de grid -->
      <div class="flex justify-between items-center mb-2 dark:text-invert">
        <span>Inglaterra: Premier League - <b>Liverpool 2 - 0 Chelsea</b></span>
        <span>45min - 2ª Parte</span>
      </div>

      <!-- Contêiner para botões usando grid -->
      <div class="grid grid-cols-3 gap-4 mb-4">
        <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Vitória Liverpool', generateOdd('ex4')" class="px-3 py-1 bg-red-600 text-white rounded">Vitória Liverpool</button>
        <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Empate', generateOdd('ex5')" class="px-3 py-1 bg-yellow-500 text-black rounded">Empate</button>
        <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Vitória Chelsea', generateOdd('ex6')" class="px-3 py-1 bg-blue-700 text-white rounded">Vitória Chelsea</button>
      </div>
      <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
      <div class="flex justify-between items-center mb-2 dark:text-invert">
        <span>Inglaterra: Premier League - <b>Tottenhan 2 - 2 Newcastle</b></span>
        <span>37min - 1ª Parte</span>
      </div>
      
      <!-- Contêiner para botões usando grid -->
      <div class="grid grid-cols-3 gap-4 mb-4">
        <button @click="boletimMessage = 'Tottenhan vs Newcastle', boletimMessage2 = 'Vitória Tottenhan', generateOdd('ex7')" class="px-3 py-1 bg-blue-900 text-white rounded">Vitória Tottenhan</button>
        <button @click="boletimMessage = 'Tottenhan vs Newcastle', boletimMessage2 = 'Empate', generateOdd('ex8')" class="px-3 py-1 bg-yellow-500 text-black rounded">Empate</button>
        <button @click="boletimMessage = 'Tottenhan vs Newcastle', boletimMessage2 = 'Vitória Newcastle', generateOdd('ex9')" class="px-3 py-1 bg-gray-400 text-white rounded">Vitória Newcastle</button>
      </div>

      <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

      <!-- Repetir para outros jogos, mantendo a estrutura de grid -->
      <div class="flex justify-between items-center mb-2 dark:text-invert">
        <span>Portugal: Primeira Liga - <b>Rio Ave FC 2 - 0 Boavista FC</b></span>
        <span>83min - 2ª Parte</span>
      </div>

      <!-- Contêiner para botões usando grid -->
      <div class="grid grid-cols-3 gap-4 mb-4">
        <button @click="boletimMessage = 'Rio Ave FC vs Boavista FC', boletimMessage2 = 'Vitória Rio Ave FC', generateOdd('ex10')" class="px-3 py-1 bg-green-500 text-white rounded">Vitória Rio Ave FC</button>
        <button @click="boletimMessage = 'Rio Ave FC vs Boavista FC', boletimMessage2 = 'Empate', generateOdd('ex11')" class="px-3 py-1 bg-yellow-500 text-black rounded">Empate</button>
        <button @click="boletimMessage = 'Rio Ave FC vs Boavista FC', boletimMessage2 = 'Vitória Boavista FC', generateOdd('ex12')" class="px-3 py-1 bg-gray-800 text-white rounded dark:bg-white dark:text-gray-800">Vitória Boavista FC</button>
      </div>
      <hr class="my-8 bg-gray-400 border-0 h-1">


  <h4 class="text-2xl font-bold dark:text-white">Basquetebol</h4>
  <h1 class="text-sl font-bold text-white  dark:text-black">.</h1>

  <div class="flex flex-col">
  <div class="flex justify-between items-start mb-4">
    <!-- Informações do jogo ajustadas com margem e tamanho de fonte -->
    <div class="w-2/5 mr-12">
      <p class="text-lg mb-6">EuroLiga - Quartos de Final</p>
      <p class="text-lg mb-6"><strong>Panathinaikos vs Maccabi Tel-Aviv</strong></p>
      <p class="text-lg mb-6">3min - 3º Quarto</p>
    </div>

    <!-- Tabela alinhada à direita -->
    <table class="w-3/5 mx-auto text-center dark:text-black border-collapse">
      <thead class="bg-gray-100">
          <tr>
              <th class="border px-4 py-2">Equipa</th>  <!-- Cabeçalho para a nova coluna -->
              <th class="border px-4 py-2">1ºQ</th>
              <th class="border px-4 py-2">2ºQ</th>
              <th class="border px-4 py-2">3ºQ</th>
              <th class="border px-4 py-2">Total</th>
          </tr>
      </thead>
      <tbody>
          <tr class="dark:invert">
              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-green-800">Panathinaikos</td>  <!-- Célula com fundo azul e letra P -->
              <td class="border px-4 py-2">19</td>
              <td class="border px-4 py-2">22</td>
              <td class="border px-4 py-2">14</td>
              <td class="border px-4 py-2">55</td>
          </tr>
          <tr class="dark:invert">
              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-blue-900">Maccabi Tel-Aviv</td>  <!-- Célula com fundo vermelho e letra M -->
              <td class="border px-4 py-2">21</td>
              <td class="border px-4 py-2">20</td>
              <td class="border px-4 py-2">15</td>
              <td class="border px-4 py-2">56</td>
          </tr>
      </tbody>
  </table>
  </div>

  <!-- Botões abaixo da tabela e do texto -->
  <div class="grid grid-cols-2 gap-4">
    <button @click="boletimMessage = 'Panathinaikos vs Maccabi Tel-Aviv', boletimMessage2 = 'Vitória Panathinaikos', generateOdd('ex11')" class="px-3 py-1 bg-green-500 text-white rounded">Vitória Panathinaikos</button>
    <button @click="boletimMessage = 'Panathinaikos vs Maccabi Tel-Aviv', boletimMessage2 = 'Vitória Maccabi Tel-Aviv', generateOdd('ex13')"class="px-3 py-1 bg-blue-900 text-white rounded dark:bg-white dark:text-gray-800">Vitória Maccabi Tel-Aviv</button>
  </div>
</div>

<hr class="m-8 bg-gray-300 border-0 dark:bg-gray-700">
<hr class="my-8 bg-gray-400 border-0 h-1">

<div class="flex flex-col">
  <div class="flex justify-between items-start mb-4">
    <!-- Informações do jogo ajustadas com margem e tamanho de fonte -->
    <div class="w-2/5 mr-12">
      <p class="text-lg mb-6">EuroLiga - Quartos de Final</p>
      <p class="text-lg mb-6"><strong>Baskonia vs Alba Berlin</strong></p>
      <p class="text-lg mb-6">7min - 2º Quarto</p>
    </div>

    <!-- Tabela alinhada à direita -->
    <table class="w-3/5 mx-auto text-center dark:text-black border-collapse">
      <thead class="bg-gray-100">
          <tr>
              <th class="border px-4 py-2">Equipa</th>  <!-- Cabeçalho para a nova coluna -->
              <th class="border px-4 py-2">1ºQ</th>
              <th class="border px-4 py-2">2ºQ</th>
              <th class="border px-4 py-2">Total</th>
          </tr>
      </thead>
      <tbody>
          <tr class="dark:invert">
              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-red-800">Baskonia</td>  <!-- Célula com fundo azul e letra P -->
              <td class="border px-4 py-2">18</td>
              <td class="border px-4 py-2">7</td>
              <td class="border px-4 py-2">25</td>
          </tr>
          <tr class="dark:invert">
              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-blue-600">Alba Berlin</td>  <!-- Célula com fundo vermelho e letra M -->
              <td class="border px-4 py-2">16</td>
              <td class="border px-4 py-2">4</td>
              <td class="border px-4 py-2">20</td>
          </tr>
      </tbody>
  </table>
  </div>

  <!-- Botões abaixo da tabela e do texto -->
  <div class="grid grid-cols-2 gap-4">
    <button @click="boletimMessage = 'Baskonia vs Alba Berlin', boletimMessage2 = 'Vitória Baskonia', generateOdd('ex15')" class="px-3 py-1 bg-red-900 text-white rounded">Vitória Baskonia</button>
    <button @click="boletimMessage = 'Baskonia vs Alba Berlin', boletimMessage2 = 'Vitória Alba Berlin', generateOdd('ex14')"class="px-3 py-1 bg-blue-600 text-white rounded dark:bg-white dark:text-gray-800">Vitória Alba Berlin</button>
  </div>
</div>
      

      


      <!-- Mais jogos... -->
      
    </div>
    <!-- Seção de tênis, etc... -->
  </div>
</div>


              </div>

                
                
                <script src="//unpkg.com/alpinejs" defer></script>
              </div>
<!-- secao futebol ------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="borderp-4">
  <div x-show="activeTab === 'tab2'" class="tab-content">
  <div class="mb-4">
      <!-- Jogo específico -->
      <div class="flex justify-between items-center mb-4 dark:text-invert">
        <span>Inglaterra: Premier League - <b>Manchester City 4 - 1 Aston Villa</b></span>
        <span>62min - 2ª Parte</span>
      </div>
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'Manchester City vs Aston Villa', boletimMessage2 = 'Vitória Manchester City', generateOdd('ex1')" class="px-3 py-1 bg-blue-400 text-white rounded">Vitória Manchester City</button>
      <button @click="boletimMessage = 'Manchester City vs Aston Villa', boletimMessage2 = 'Empate', generateOdd('ex2')" class="px-3 py-1 bg-yellow-500 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'Manchester City vs Aston Villa', boletimMessage2 = 'Vitória Aston Villa', generateOdd('ex3')"class="px-3 py-1 bg-pink-900 text-white rounded">Vitória Aston Villa</button>
    </div>
    <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
    <!-- Semelhante para outros jogos -->
    <!-- Repetir para outros jogos, mantendo a estrutura de grid -->
    <div class="flex justify-between items-center mb-2 dark:text-invert">
      <span>Inglaterra: Premier League - <b>Liverpool 2 - 0 Chelsea</b></span>
      <span>45min - 2ª Parte</span>
    </div>

    <!-- Contêiner para botões usando grid -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Vitória Liverpool', generateOdd('ex4')" class="px-3 py-1 bg-red-600 text-white rounded">Vitória Liverpool</button>
      <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Empate', generateOdd('ex5')" class="px-3 py-1 bg-yellow-500 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Vitória Chelsea', generateOdd('ex6')" class="px-3 py-1 bg-blue-700 text-white rounded">Vitória Chelsea</button>
    </div>
    <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
    <div class="flex justify-between items-center mb-2 dark:text-invert">
      <span>Inglaterra: Premier League - <b>Tottenhan 2 - 2 Newcastle</b></span>
      <span>37min - 1ª Parte</span>
    </div>
    
    <!-- Contêiner para botões usando grid -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'Tottenhan vs Newcastle', boletimMessage2 = 'Vitória Tottenhan', generateOdd('ex7')" class="px-3 py-1 bg-blue-900 text-white rounded">Vitória Tottenhan</button>
      <button @click="boletimMessage = 'Tottenhan vs Newcastle', boletimMessage2 = 'Empate', generateOdd('ex8')" class="px-3 py-1 bg-yellow-500 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'Tottenhan vs Newcastle', boletimMessage2 = 'Vitória Newcastle', generateOdd('ex9')" class="px-3 py-1 bg-gray-400 text-white rounded">Vitória Newcastle</button>
    </div>

    <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

    <!-- Repetir para outros jogos, mantendo a estrutura de grid -->
    <div class="flex justify-between items-center mb-2 dark:text-invert">
      <span>Portugal: Primeira Liga - <b>Rio Ave FC 2 - 0 Boavista FC</b></span>
      <span>83min - 2ª Parte</span>
    </div>

    <!-- Contêiner para botões usando grid -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'Rio Ave FC vs Boavista FC', boletimMessage2 = 'Vitória Rio Ave FC', generateOdd('ex10')" class="px-3 py-1 bg-green-500 text-white rounded">Vitória Rio Ave FC</button>
      <button @click="boletimMessage = 'Rio Ave FC vs Boavista FC', boletimMessage2 = 'Empate', generateOdd('ex11')" class="px-3 py-1 bg-yellow-500 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'Rio Ave FC vs Boavista FC', boletimMessage2 = 'Vitória Boavista FC', generateOdd('ex12')" class="px-3 py-1 bg-gray-800 text-white rounded">Vitória Boavista FC</button>
    </div>
  
    <hr class="my-8 bg-gray-500 border-0 h-2">
    <h4 class="mb-4 text-2xl font-bold dark:text-white">Próximos jogos:</h4>

    <div class="flex justify-between items-center mb-2 dark:text-invert">
      <span>Liga Europa <b>Bayer Leverkusen - AS Roma</b></span>
      <span>Dia 9/5 às 20h
      </span>
    </div>

    <!-- Contêiner para botões usando grid -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'Bayer Leverkusen vs AS Roma', boletimMessage2 = 'Vitória Bayer Leverkusen', generateOdd('ex21')" class="px-3 py-1 bg-red-600 text-white rounded">Vitória Bayer Leverkusen</button>
      <button @click="boletimMessage = 'Bayer Leverkusen vs AS Roma', boletimMessage2 = 'Empate', generateOdd('ex22')" class="px-3 py-1 bg-yellow-500 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'Bayer Leverkusen vs AS Roma', boletimMessage2 = 'Vitória AS Roma', generateOdd('ex23')" class="px-3 py-1 text-red-900 bg-yellow-600 rounded">Vitória AS Roma</button>
    </div>
  
    <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
    

    <div class="flex justify-between items-center mb-2 dark:text-invert">
      <span>Liga Europa <b>Atalanta - Marselha</b></span>
      <span>Dia 9/5 às 20h
      </span>
    </div>

    <!-- Contêiner para botões usando grid -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'Atalanta vs Marselha', boletimMessage2 = 'Vitória Atalanta', generateOdd('ex24')" class="px-3 py-1 bg-blue-800 text-white rounded">Vitória Atalanta</button>
      <button @click="boletimMessage = 'Atalanta vs Marselha', boletimMessage2 = 'Empate', generateOdd('ex25')" class="px-3 py-1 bg-yellow-500 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'Atalanta vs Marselha', boletimMessage2 = 'Vitória Marselha', generateOdd('ex26')" class="px-3 py-1  bg-blue-300 rounded">Vitória Marselha</button>
    </div>
  
    <hr class="my-8 bg-gray-400 border-0 h-1">
    

    <div class="flex justify-between items-center mb-2 dark:text-invert">
      <span>Portugal: Primeira Liga - <b>FC Famalicão - GD Chaves</b></span>
      <span>Dia 10/5 às 20h
      </span>
    </div>

    <!-- Contêiner para botões usando grid -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'GD Chaves vs FC Famalicão', boletimMessage2 = 'Vitória FC Famalicão', generateOdd('ex17')" class="px-3 py-1 bg-gray-300 text-black rounded">Vitória FC Famalicão</button>
      <button @click="boletimMessage = 'GD Chaves vs FC Famalicão', boletimMessage2 = 'Empate', generateOdd('ex15')" class="px-3 py-1 bg-yellow-500 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'GD Chaves vs FC Famalicão', boletimMessage2 = 'Vitória GD Chaves', generateOdd('ex16')" class="px-3 py-1 bg-red-900 text-white rounded">Vitória GD Chaves</button>
    </div>
  
    <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

    <div class="flex justify-between items-center mb-2 dark:text-invert">
      <span>Portugal: Primeira Liga - <b>FC Vizela - CF Estrela da Amadora</b></span>
      <span>Dia 11/5 às 15h30
      </span>
    </div>

    <!-- Contêiner para botões usando grid -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'FC Vizela vs CF Estrela da Amadora', boletimMessage2 = 'Vitória FC Vizela', generateOdd('ex18')" class="px-3 py-1 bg-blue-600 text-white rounded">Vitória FC Vizela</button>
      <button @click="boletimMessage = 'FC Vizela vs CF Estrela da Amadora', boletimMessage2 = 'Empate', generateOdd('ex19')" class="px-3 py-1 bg-yellow-500 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'FC Vizela vs CF Estrela da Amadora', boletimMessage2 = 'Vitória CF Estrela da Amadora', generateOdd('ex20')" class="px-3 py-1  bg-green-500 rounded">Vitória CF Estrela da Amadora</button>
    </div>
  
  


  </div>
  </div>
</div>
    
    <!-- Seção de jogos ao vivo -->
      
      <!-- Jogo específico -->
  

<!-- secao tenis ------------------------------------------------------------------------------------------------------------------------------------ -->
              <div x-show="activeTab === 'tab3'" style="display: none;">
                <div class="flex justify-between items-center mb-4 dark:text-invert">
                  <span>ATP - Rome Masters: <b>Pavel Kotov - Alex Michelsen</b></span>
                  <span>Dia 10/5 às 11h30
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4">
                  <button @click="boletimMessage = 'Pavel Kotov - Alex Michelsen', boletimMessage2 = 'Vitória Pavel Kotov', generateOdd('ex35')" class="px-3 py-1 bg-blue-300 text-black rounded">Vitória Pavel Kotov</button>
                  <button @click="boletimMessage = 'Pavel Kotov - Alex Michelsen', boletimMessage2 = 'Vitória Alex Michelsen', generateOdd('ex36')"class="px-3 py-1 bg-yellow-300 rounded text-black">Vitória Alex Michelsen</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                <div class="flex justify-between items-center mb-4 dark:text-invert">
                  <span>ATP - Rome Masters: <b>Daniel Evans - Fabio Fognini</b></span>
                  <span>Dia 12/5 às 16h30
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4">
                  <button @click="boletimMessage = 'Daniel Evans - Fabio Fognini', boletimMessage2 = 'Vitória Daniel Evans', generateOdd('ex37')" class="px-3 py-1 bg-blue-300 text-black rounded">Vitória Daniel Evans</button>
                  <button @click="boletimMessage = 'Daniel Evans - Fabio Fognini', boletimMessage2 = 'Vitória Fabio Fognini', generateOdd('ex38')"class="px-3 py-1 bg-yellow-300 rounded text-black">Vitória Fabio Fognini</button>
                </div>
                
                <hr class="my-8 bg-gray-400 border-0 h-1">
                <div class="flex justify-between items-center mb-4 dark:text-invert">
                  <span>Challenger - Santos: <b>Juan Torres - Alvaro Meza</b></span>
                  <span>Dia 10/5 às 14h30
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4">
                  <button @click="boletimMessage = 'Juan Torres - Alvaro Meza', boletimMessage2 = 'Vitória Juan Torres', generateOdd('ex42')" class="px-3 py-1 bg-blue-300 text-black rounded">Vitória Juan Torres</button>
                  <button @click="boletimMessage = 'Juan Torres - Alvaro Meza', boletimMessage2 = 'Vitória Alvaro Meza', generateOdd('ex43')"class="px-3 py-1 bg-yellow-300 rounded text-black">Vitória Alvaro Meza</button>
                </div>

                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

                <div class="flex justify-between items-center mb-4 dark:text-invert">
                  <span>Challenger - Santos: <b>Pedro Sakamoto - Gonzalo Villanueva</b></span>
                  <span>Dia 10/5 às 14h30
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4">
                  <button @click="boletimMessage = 'Pedro Sakamoto - Gonzalo Villanueva', boletimMessage2 = 'Vitória Pedro Sakamoto', generateOdd('ex40')" class="px-3 py-1 bg-blue-300 text-black rounded">Vitória Pedro Sakamoto</button>
                  <button @click="boletimMessage = 'Pedro Sakamoto - Gonzalo Villanueva', boletimMessage2 = 'Vitória Gonzalo Villanueva', generateOdd('ex41')"class="px-3 py-1 bg-yellow-300 rounded text-black">Vitória Gonzalo Villanueva</button>
                </div>

              </div>
<!-- secao basquetebol------------------------------------------------------------------------------------------------------------------------------------ -->
              <div x-show="activeTab === 'tab4'" style="display: none;">
                <div class="flex flex-col">
                  <div class="flex justify-between items-start mb-4">
                    <!-- Informações do jogo ajustadas com margem e tamanho de fonte -->
                    <div class="w-2/5 mr-12">
                      <p class="text-lg mb-6">EuroLiga - Quartos de Final</p>
                      <p class="text-lg mb-6"><strong>Panathinaikos vs Maccabi Tel-Aviv</strong></p>
                      <p class="text-lg mb-6">3min - 3º Quarto</p>
                    </div>
                
                    <!-- Tabela alinhada à direita -->
                    <table class="w-3/5 mx-auto text-center dark:text-black border-collapse">
                      <thead class="bg-gray-100">
                          <tr>
                              <th class="border px-4 py-2">Equipa</th>  <!-- Cabeçalho para a nova coluna -->
                              <th class="border px-4 py-2">1ºQ</th>
                              <th class="border px-4 py-2">2ºQ</th>
                              <th class="border px-4 py-2">3ºQ</th>
                              <th class="border px-4 py-2">Total</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="dark:invert">
                              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-green-800">Panathinaikos</td>  <!-- Célula com fundo azul e letra P -->
                              <td class="border px-4 py-2">19</td>
                              <td class="border px-4 py-2">22</td>
                              <td class="border px-4 py-2">14</td>
                              <td class="border px-4 py-2">55</td>
                          </tr>
                          <tr class="dark:invert">
                              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-blue-900">Maccabi Tel-Aviv</td>  <!-- Célula com fundo vermelho e letra M -->
                              <td class="border px-4 py-2">21</td>
                              <td class="border px-4 py-2">20</td>
                              <td class="border px-4 py-2">15</td>
                              <td class="border px-4 py-2">56</td>
                          </tr>
                      </tbody>
                  </table>
                  </div>
                
                  <!-- Botões abaixo da tabela e do texto -->
                  <div class="grid grid-cols-2 gap-4">
                    <button @click="boletimMessage = 'Panathinaikos vs Maccabi Tel-Aviv', boletimMessage2 = 'Vitória Panathinaikos', generateOdd('ex11')" class="px-3 py-1 bg-green-500 text-white rounded">Vitória Panathinaikos</button>
                    <button @click="boletimMessage = 'Panathinaikos vs Maccabi Tel-Aviv', boletimMessage2 = 'Vitória Maccabi Tel-Aviv', generateOdd('ex13')"class="px-3 py-1 bg-blue-900 text-white rounded dark:bg-white dark:text-gray-800">Vitória Maccabi Tel-Aviv</button>
                  </div>
                </div>
                
                <hr class="m-8 bg-gray-300 border-0 dark:bg-gray-700">
                <hr class="my-8 bg-gray-400 border-0 h-1">
                
                <div class="flex flex-col">
                  <div class="flex justify-between items-start mb-4">
                    <!-- Informações do jogo ajustadas com margem e tamanho de fonte -->
                    <div class="w-2/5 mr-12">
                      <p class="text-lg mb-6">EuroLiga - Quartos de Final</p>
                      <p class="text-lg mb-6"><strong>Baskonia vs Alba Berlin</strong></p>
                      <p class="text-lg mb-6">7min - 2º Quarto</p>
                    </div>
                
                    <!-- Tabela alinhada à direita -->
                    <table class="w-3/5 mx-auto text-center dark:text-black border-collapse">
                      <thead class="bg-gray-100">
                          <tr>
                              <th class="border px-4 py-2">Equipa</th>  <!-- Cabeçalho para a nova coluna -->
                              <th class="border px-4 py-2">1ºQ</th>
                              <th class="border px-4 py-2">2ºQ</th>
                              <th class="border px-4 py-2">Total</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="dark:invert">
                              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-red-800">Baskonia</td>  <!-- Célula com fundo azul e letra P -->
                              <td class="border px-4 py-2">18</td>
                              <td class="border px-4 py-2">7</td>
                              <td class="border px-4 py-2">25</td>
                          </tr>
                          <tr class="dark:invert">
                              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-blue-600">Alba Berlin</td>  <!-- Célula com fundo vermelho e letra M -->
                              <td class="border px-4 py-2">16</td>
                              <td class="border px-4 py-2">4</td>
                              <td class="border px-4 py-2">20</td>
                          </tr>
                      </tbody>
                  </table>
                  </div>
                
                  <!-- Botões abaixo da tabela e do texto -->
                  <div class="grid grid-cols-2 gap-4">
                    <button @click="boletimMessage = 'Baskonia vs Alba Berlin', boletimMessage2 = 'Vitória Baskonia', generateOdd('ex15')" class="px-3 py-1 bg-red-900 text-white rounded">Vitória Baskonia</button>
                    <button @click="boletimMessage = 'Baskonia vs Alba Berlin', boletimMessage2 = 'Vitória Alba Berlin', generateOdd('ex14')"class="px-3 py-1 bg-blue-600 text-white rounded ">Vitória Alba Berlin</button>
                  </div>
                  <hr class="my-8 bg-gray-400 border-0 h-1"> 
                  <h4 class="mb-4 text-2xl font-bold dark:text-white">Próximos jogos:</h4>
                  

                  <div class="flex justify-between items-center mb-4 dark:text-invert">
                    <span>EUA: NBA - <b>New York Knicks vs Indiana Pacers</b></span>
                    <span>Dia 10/5 às 1h
                    </span>
                  </div>
              
                  <!-- Contêiner para botões usando grid -->
                  <div class="grid grid-cols-2 gap-4">
                    <button @click="boletimMessage = 'New York Knicks vs Indiana Pacers', boletimMessage2 = 'Vitória New York Knicks', generateOdd('ex30')" class="px-3 py-1 bg-orange-500 text-white rounded">Vitória New York Knicks</button>
                    <button @click="boletimMessage = 'New York Knicks vs Indiana Pacers', boletimMessage2 = 'Vitória Indiana Pacers', generateOdd('ex31')"class="px-3 py-1 bg-yellow-400 text-black rounded ">Vitória Indiana Pacers</button>
                  </div>
                  <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

                  <div class="flex justify-between items-center mb-4 dark:text-invert">
                    <span>EUA: NBA - <b>Minnesota TimberWolves vs Denver Nuggets</b></span>
                    <span>Dia 10/5 às 1h
                    </span>
                  </div>
              
                  <!-- Contêiner para botões usando grid -->
                  <div class="grid grid-cols-2 gap-4">
                    <button @click="boletimMessage = 'Minnesota TimberWolves vs Denver Nuggets', boletimMessage2 = 'Vitória Minnesota TimberWolves', generateOdd('ex32')" class="px-3 py-1 bg-blue-900 text-white rounded">Vitória Minnesota TimberWolves</button>
                    <button @click="boletimMessage = 'Minnesota TimberWolves vs Denver Nuggets', boletimMessage2 = 'Vitória Denver Nuggets', generateOdd('ex33')"class="px-3 py-1 bg-gray-400 rounded ">Vitória Denver Nuggets</button>
                  </div>
                  <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">






                </div>
              </div>
<!-- secao volei------------------------------------------------------------------------------------------------------------------------------------ -->
              <div x-show="activeTab === 'tab5'" style="display: none;">
                <p>This is the content for Tab 5.</p>
              </div>
<!-- secao esports------------------------------------------------------------------------------------------------------------------------------------ -->
              <div x-show="activeTab === 'tab6'" style="display: none;">
                <p>This is the content for Tab 6.</p>
              </div>
<!-- secao golfe------------------------------------------------------------------------------------------------------------------------------------ -->
              <div x-show="activeTab === 'tab7'" style="display: none;">
                <p>This is the content for Tab 7.</p>
              </div>
<!-- secao hoquei----------------------------------------------------------------------------------------------------------------------------------- -->
              <div x-show="activeTab === 'tab8'" style="display: none;">
                <p>This is the content for Tab 8.</p>
              </div>
<!-- secao andebol------------------------------------------------------------------------------------------------------------------------------------ -->
              <div x-show="activeTab === 'tab9'" style="display: none;">
                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>Inglaterra: Premier League - <b>Liverpool 2 - 0 Chelsea</b></span>
                  <span>45min - 2ª Parte</span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-3 gap-4 mb-4">
                  <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Vitória Liverpool', generateOdd('ex4')" class="px-3 py-1 bg-red-600 text-white rounded">Vitória Liverpool</button>
                  <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Empate', generateOdd('ex5')" class="px-3 py-1 bg-yellow-500 text-black rounded">Empate</button>
                  <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Vitória Chelsea', generateOdd('ex6')" class="px-3 py-1 bg-blue-700 text-white rounded">Vitória Chelsea</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
              </div>
<!-- secao snooker------------------------------------------------------------------------------------------------------------------------------------ -->
              <div x-show="activeTab === 'tab10'" style="display: none;">
                <p>This is the content for Tab 8.</p>
              </div>
            </div>
          </div>
                <!-- Seção do Boletim (novo conteúdo) -->
                <div class="flex-1 bg-gray-100 p-4 text-lg rounded-lg shadow ml-4 dark:text-white dark:bg-black">
                  <h2 class="text-3xl text-center font-bold">Boletim</h2>
                  <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                  <div class="my-2">
                      <div x-text="boletimMessage" class="text-lg text-center"></div>
                      <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                      
                      <div class="flex justify-between items-center text-lg space-x-2">
                          <span><strong>Aposta:</strong></span>
                          <div x-text="boletimMessage2"></div>
                      </div>
                      <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                      <div class="flex justify-between items-center mb-2">
                          <span><strong>Montante (€):</strong></span>
                          <input type="number" class="border rounded p-1 text-right w-20 dark:text-black"
                                 x-model.number="betAmount"
                                 x-on:input="updatePotentialWinnings()"
                                 placeholder="€" min="1">
                      </div>
                      <div class="flex justify-between items-center mb-2">
                          <span><strong>Odd:</strong></span>
                          <span x-text="currentOdd"></span>
                      </div>
                      <div class="flex justify-between items-center mb-4">
                          <span><strong>Ganhos Possíveis:</strong></span>
                          <span x-text="potentialWinnings + '€'"></span>
                      </div>
                      <button class="mt-4 w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition duration-300"
                              @click="showBetSlip = true">
                          Apostar
                      </button>
                  </div>
              </div>

              <!-- Pop-up para confirmação da aposta -->
              <div x-show="showBetSlip" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center p-4" x-transition>
                <div class="bg-white dark:bg-gray-900 p-6 rounded shadow-lg max-w-lg w-full">
                  <h3 class="text-2xl text-center font-bold mb-4">Confirmar Aposta</h3>
                  <p class="text-center mb-4">Tem a certeza que pretende fazer a aposta selecionada?</p>
                  <div class="flex gap-4 justify-center mb-2 ">
                    <button class="px-6 py-2 bg-green-500 text-white rounded" @click="location.reload()">Confirmar</button>
                    <button class="px-6 py-2 bg-red-500 text-white rounded" @click="showBetSlip = false">Cancelar</button>
                  </div>
                </div>
              </div>
        </div>      
      </div>

                

                
          
	</Container>
    <!-- Alpine.js component for tabs -->

      
</Layout>

