---
import { changeLanguage } from "i18next";
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
import Alpine from 'alpinejs'

changeLanguage("en");



---

<Layout title="Contact">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Apostas Desportivas</Fragment>
			<Fragment slot="desc" >Aqui podes fazer apostas desportivas de uma grande variedade de desportos, incluido apostas em jogos ao vivo!</Fragment>  
      
		</Sectionhead>
    <div x-data="{
      activeTab: 'tab1',
      showBetSlip: false,
      boletimMessage: 'Ainda sem apostas',
      boletimMessage2: '--------',
      betAmount: 1,
      odds: {},
      potentialWinnings: '0.00',
      generateOdd(id) {
        if (!(id in this.odds)) {
          this.odds[id] = (1 + Math.random() * 9).toFixed(2); // Ensures odd is between 1.00 and 10.00
        }
        this.currentOdd = this.odds[id];
        this.updatePotentialWinnings(); // Make sure to update winnings when odds change
      },
      updatePotentialWinnings() {
        this.potentialWinnings = (this.betAmount * parseFloat(this.currentOdd)).toFixed(2);
        console.log('Atualizando ganhos possíveis', this.potentialWinnings, 'e odd', this.currentOdd);
      },
      init() {
        this.updatePotentialWinnings(); // Initial update on component mount
      }
    }" class="flex flex-wrap mx-4 dark:text-white" x-init="init">
            <div class="max-w-1/2  px-2">
              <button
      :class="{ 'text-blue-500 border-blue-500': activeTab === 'tab1' }"
      class="px-4 py-2 border-b-2 focus:outline-none"
      @click.prevent="activeTab = 'tab1'">
      <!-- Ícone Ao Vivo -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
      </svg>
      Ao Vivo
    </button>
    
    <!-- Tab Futebol -->
    <button
      :class="{ 'text-green-500 border-green-500': activeTab === 'tab2' }"
      class="px-4 py-2 border-b-2 focus:outline-none"
      @click.prevent="activeTab = 'tab2'">
      <!-- Ícone de Bola de Futebol SVG -->
      <img src="https://cdn-icons-png.freepik.com/512/211/211950.png" class="h-5 w-5 inline-block mr-1" alt="Futebol" />
      Futebol
    </button>
    
    <!-- Tab Ténis -->
    <button
      :class="{ 'text-yellow-500 border-yellow-400': activeTab === 'tab3' }"
      class="px-4 py-2 border-b-2 focus:outline-none"
      @click.prevent="activeTab = 'tab3'">
      <!-- Ícone Ténis -->
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Tennis_ball_3.svg/1024px-Tennis_ball_3.svg.png" class="h-5 w-5 inline-block mr-1" alt="Futebol" />
      Ténis
    </button>
  
    <button
          :class="{ ' text-orange-500 border-orange-500': activeTab === 'tab4' }"
          class="px-4 py-2 border-b-2 focus:outline-none"
          @click.prevent="activeTab = 'tab4'">
          <img src="https://static.vecteezy.com/system/resources/previews/013/515/360/original/basketball-ball-icon-png.png" class="h-5 w-5 inline-block mr-1" alt="Futebol" />
          Basquetebol
        </button> 

        <!-- Tab Voleibol -->
        <button
          :class="{ 'text-blue-400 border-blue-400': activeTab === 'tab5' }"
          class="px-4 py-2 border-b-2 focus:outline-none"
          @click.prevent="activeTab = 'tab5'">
          <img src="https://cdn-icons-png.flaticon.com/512/184/184042.png" class="h-5 w-5 inline-block mr-1" alt="Futebol" />
          Voleibol
        </button>

        <!-- Tab E-Sports -->
        <button
          :class="{ 'text-purple-500 border-purple-500': activeTab === 'tab6' }"
          class="px-4 py-2 border-b-2 focus:outline-none"
          @click.prevent="activeTab = 'tab6'">
          <img src="https://cdn-icons-png.flaticon.com/512/7915/7915399.png" class="h-5 w-5 inline-block mr-1" alt="Futebol" />
          Esports
        </button>

        <!-- Tab Golfe -->
        <button
          :class="{ 'text-red-500 border-red-500': activeTab === 'tab7' }"
          class="px-4 py-2 border-b-2 focus:outline-none"
          @click.prevent="activeTab = 'tab7'">
          <img src="https://cdn-icons-png.flaticon.com/512/753/753858.png" class="h-5 w-5 inline-block mr-1" alt="Futebol" />
          Golfe
        </button>

         <!-- Tab hockei -->
        <button
      :class="{ 'text-gray-500 border-gray-400': activeTab === 'tab8' }"
      class="px-4 py-2 border-b-2 focus:outline-none"
      @click.prevent="activeTab = 'tab8'">
      <!-- Ícone Ténis -->
      <img src="https://cdn-icons-png.freepik.com/256/13165/13165006.png" class="h-5 w-5 inline-block mr-1 dark:invert" alt="Futebol" />
      Hóquei
    </button>

    <button
      :class="{ 'text-pink-500 border-pink-400': activeTab === 'tab9' }"
      class="px-4 py-2 border-b-2 focus:outline-none"
      @click.prevent="activeTab = 'tab9'">
      <!-- Ícone Ténis -->
      <img src="https://cdn-icons-png.flaticon.com/512/6729/6729605.png" class="h-5 w-5 inline-block mr-1 " alt="Futebol" />
      Andebol
    </button>
    <button
      :class="{ 'text-teal-500 border-teal-400': activeTab === 'tab10' }"
      class="px-4 py-2 border-b-2 focus:outline-none"
      @click.prevent="activeTab = 'tab10'">
      <!-- Ícone Ténis -->
      <img src="https://static.vecteezy.com/system/resources/thumbnails/020/575/868/small_2x/3d-icon-illustration-billiard-ball-with-number-ten-png.png" class="h-5 w-5 inline-block mr-1 " alt="Futebol" />
      Snooker
    </button>
        
      </nav>
  </nav>
            </nav>
          
            <!-- Tabs content -->
            <div class="border p-4 dark:border-gray-800">
              <div x-show="activeTab === 'tab1'">
                <div x-data="{ activeTab: 'tab1', showBetSlip: false }" class="p-6">
                  <!-- Tabs navigation -->
                  <nav class="flex flex-row">
                    <!-- Botões de navegação das tabs existentes... -->
                  </nav>
                
                  <!-- Tabs content -->
<!-- Tabs content -->
<div class="borderp-4">
  <!-- Conteúdo para a tab "Ao Vivo" -->
  <div x-show="activeTab === 'tab1'">
    
  <h4 class="text-2xl font-bold dark:text-white">Futebol</h4>

  <h1 class="text-sl font-bold text-white  dark:text-black">.</h1>

    <!-- Seção de jogos ao vivo -->
    <div class="mb-4">
      
      <!-- Jogo específico -->
      <div class="flex justify-between items-center mb-2 dark:text-invert">
        <span>Inglaterra: Premier League - <b>Manchester City 4 - 1 Aston Villa</b></span>
        <span>62min - 2ª Parte</span>
      </div>
      
      <!-- Contêiner para botões usando grid -->
      <div class="grid grid-cols-3 gap-4 mb-4">
        <button @click="boletimMessage = 'Manchester City vs Aston Villa', boletimMessage2 = 'Vitória Manchester City', generateOdd('ex1')" class="px-3 py-1 bg-blue-400 text-white rounded">Vitória Manchester City</button>
        <button @click="boletimMessage = 'Manchester City vs Aston Villa', boletimMessage2 = 'Empate', generateOdd('ex2')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
        <button @click="boletimMessage = 'Manchester City vs Aston Villa', boletimMessage2 = 'Vitória Aston Villa', generateOdd('ex3')"class="px-3 py-1 bg-pink-900 text-white rounded">Vitória Aston Villa</button>
      </div>

      <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
      
      <!-- Repetir para outros jogos, mantendo a estrutura de grid -->
      <div class="flex justify-between items-center mb-2 dark:text-invert">
        <span>Inglaterra: Premier League - <b>Liverpool 2 - 0 Chelsea</b></span>
        <span>45min - 2ª Parte</span>
      </div>

      <!-- Contêiner para botões usando grid -->
      <div class="grid grid-cols-3 gap-4 mb-4">
        <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Vitória Liverpool', generateOdd('ex4')" class="px-3 py-1 bg-red-700 text-white rounded">Vitória Liverpool</button>
        <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Empate', generateOdd('ex5')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
        <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Vitória Chelsea', generateOdd('ex6')" class="px-3 py-1 bg-blue-700 text-white rounded">Vitória Chelsea</button>
      </div>
      <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
      <div class="flex justify-between items-center mb-2 dark:text-invert">
        <span>Inglaterra: Premier League - <b>Tottenhan 2 - 2 Newcastle</b></span>
        <span>37min - 1ª Parte</span>
      </div>
      
      <!-- Contêiner para botões usando grid -->
      <div class="grid grid-cols-3 gap-4 mb-4">
        <button @click="boletimMessage = 'Tottenhan vs Newcastle', boletimMessage2 = 'Vitória Tottenhan', generateOdd('ex7')" class="px-3 py-1 bg-blue-900 text-white rounded">Vitória Tottenhan</button>
        <button @click="boletimMessage = 'Tottenhan vs Newcastle', boletimMessage2 = 'Empate', generateOdd('ex8')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
        <button @click="boletimMessage = 'Tottenhan vs Newcastle', boletimMessage2 = 'Vitória Newcastle', generateOdd('ex9')" class="px-3 py-1 bg-teal-400 text-black ounded">Vitória Newcastle</button>
      </div>

      <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

      <!-- Repetir para outros jogos, mantendo a estrutura de grid -->
      <div class="flex justify-between items-center mb-2 dark:text-invert">
        <span>Portugal: Primeira Liga - <b>Rio Ave FC 2 - 0 Boavista FC</b></span>
        <span>83min - 2ª Parte</span>
      </div>

      <!-- Contêiner para botões usando grid -->
      <div class="grid grid-cols-3 gap-4 mb-4">
        <button @click="boletimMessage = 'Rio Ave FC vs Boavista FC', boletimMessage2 = 'Vitória Rio Ave FC', generateOdd('ex10')" class="px-3 py-1 bg-green-500 text-white rounded">Vitória Rio Ave FC</button>
        <button @click="boletimMessage = 'Rio Ave FC vs Boavista FC', boletimMessage2 = 'Empate', generateOdd('ex11')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
        <button @click="boletimMessage = 'Rio Ave FC vs Boavista FC', boletimMessage2 = 'Vitória Boavista FC', generateOdd('ex12')" class="px-3 py-1 bg-gray-800 text-white rounded dark:bg-white dark:text-gray-800">Vitória Boavista FC</button>
      </div>
      <hr class="my-8 bg-gray-400 border-0 h-1">


  <h4 class="text-2xl font-bold dark:text-white">Basquetebol</h4>
  <h1 class="text-sl font-bold text-white  dark:text-black">.</h1>

  <div class="flex flex-col">
  <div class="flex justify-between items-start mb-4">
    <!-- Informações do jogo ajustadas com margem e tamanho de fonte -->
    <div class="w-2/5 mr-12">
      <p class="text-lg mb-6">EuroLiga - Quartos de Final</p>
      <p class="text-lg mb-6"><strong>Panathinaikos vs Maccabi Tel-Aviv</strong></p>
      <p class="text-lg mb-6">3min - 3º Quarto</p>
    </div>

    <!-- Tabela alinhada à direita -->
    <table class="w-3/5 mx-auto text-center dark:text-black border-collapse">
      <thead class="bg-gray-100">
          <tr>
              <th class="border px-4 py-2">Equipa</th>  <!-- Cabeçalho para a nova coluna -->
              <th class="border px-4 py-2">1ºQ</th>
              <th class="border px-4 py-2">2ºQ</th>
              <th class="border px-4 py-2">3ºQ</th>
              <th class="border px-4 py-2">Total</th>
          </tr>
      </thead>
      <tbody>
          <tr class="dark:invert">
              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-green-800">Panathinaikos</td>  <!-- Célula com fundo azul e letra P -->
              <td class="border px-4 py-2">19</td>
              <td class="border px-4 py-2">22</td>
              <td class="border px-4 py-2">14</td>
              <td class="border px-4 py-2">55</td>
          </tr>
          <tr class="dark:invert">
              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-blue-900">Maccabi Tel-Aviv</td>  <!-- Célula com fundo vermelho e letra M -->
              <td class="border px-4 py-2">21</td>
              <td class="border px-4 py-2">20</td>
              <td class="border px-4 py-2">15</td>
              <td class="border px-4 py-2">56</td>
          </tr>
      </tbody>
  </table>
  </div>

  <!-- Botões abaixo da tabela e do texto -->
  <div class="grid grid-cols-2 gap-4">
    <button @click="boletimMessage = 'Panathinaikos vs Maccabi Tel-Aviv', boletimMessage2 = 'Vitória Panathinaikos', generateOdd('ex11')" class="px-3 py-1 bg-green-500 text-white rounded">Vitória Panathinaikos</button>
    <button @click="boletimMessage = 'Panathinaikos vs Maccabi Tel-Aviv', boletimMessage2 = 'Vitória Maccabi Tel-Aviv', generateOdd('ex13')"class="px-3 py-1 bg-blue-900 text-white rounded dark:bg-white dark:text-gray-800">Vitória Maccabi Tel-Aviv</button>
  </div>
</div>

<hr class="m-8 bg-gray-300 border-0 dark:bg-gray-700">
<hr class="my-8 bg-gray-400 border-0 h-1">

<div class="flex flex-col">
  <div class="flex justify-between items-start mb-4">
    <!-- Informações do jogo ajustadas com margem e tamanho de fonte -->
    <div class="w-2/5 mr-12">
      <p class="text-lg mb-6">EuroLiga - Quartos de Final</p>
      <p class="text-lg mb-6"><strong>Baskonia vs Alba Berlin</strong></p>
      <p class="text-lg mb-6">7min - 2º Quarto</p>
    </div>

    <!-- Tabela alinhada à direita -->
    <table class="w-3/5 mx-auto text-center dark:text-black border-collapse">
      <thead class="bg-gray-100">
          <tr>
              <th class="border px-4 py-2">Equipa</th>  <!-- Cabeçalho para a nova coluna -->
              <th class="border px-4 py-2">1ºQ</th>
              <th class="border px-4 py-2">2ºQ</th>
              <th class="border px-4 py-2">Total</th>
          </tr>
      </thead>
      <tbody>
          <tr class="dark:invert">
              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-red-800">Baskonia</td>  <!-- Célula com fundo azul e letra P -->
              <td class="border px-4 py-2">18</td>
              <td class="border px-4 py-2">7</td>
              <td class="border px-4 py-2">25</td>
          </tr>
          <tr class="dark:invert">
              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-blue-600">Alba Berlin</td>  <!-- Célula com fundo vermelho e letra M -->
              <td class="border px-4 py-2">16</td>
              <td class="border px-4 py-2">4</td>
              <td class="border px-4 py-2">20</td>
          </tr>
      </tbody>
  </table>
  </div>

  <!-- Botões abaixo da tabela e do texto -->
  <div class="grid grid-cols-2 gap-4">
    <button @click="boletimMessage = 'Baskonia vs Alba Berlin', boletimMessage2 = 'Vitória Baskonia', generateOdd('ex15')" class="px-3 py-1 bg-red-900 text-white rounded">Vitória Baskonia</button>
    <button @click="boletimMessage = 'Baskonia vs Alba Berlin', boletimMessage2 = 'Vitória Alba Berlin', generateOdd('ex14')"class="px-3 py-1 bg-blue-600 text-white rounded dark:bg-white dark:text-gray-800">Vitória Alba Berlin</button>
  </div>
</div>
      

      


      <!-- Mais jogos... -->
      
    </div>
    <!-- Seção de tênis, etc... -->
  </div>
</div>


              </div>

                
                
                <script src="//unpkg.com/alpinejs" defer></script>
              </div>
<!-- secao futebol ------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="borderp-4">
  <div x-show="activeTab === 'tab2'" class="tab-content">
  <div class="mb-4">
      <!-- Jogo específico -->
      <div class="flex justify-between items-center mb-4 dark:text-invert">
        <span>Inglaterra: Premier League - <b>Manchester City 4 - 1 Aston Villa</b></span>
        <span>62min - 2ª Parte</span>
      </div>
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'Manchester City vs Aston Villa', boletimMessage2 = 'Vitória Manchester City', generateOdd('ex1')" class="px-3 py-1 bg-blue-400 text-white rounded">Vitória Manchester City</button>
      <button @click="boletimMessage = 'Manchester City vs Aston Villa', boletimMessage2 = 'Empate', generateOdd('ex2')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'Manchester City vs Aston Villa', boletimMessage2 = 'Vitória Aston Villa', generateOdd('ex3')"class="px-3 py-1 bg-pink-900 text-white rounded">Vitória Aston Villa</button>
    </div>
    <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
    <!-- Semelhante para outros jogos -->
    <!-- Repetir para outros jogos, mantendo a estrutura de grid -->
    <div class="flex justify-between items-center mb-2 dark:text-invert">
      <span>Inglaterra: Premier League - <b>Liverpool 2 - 0 Chelsea</b></span>
      <span>45min - 2ª Parte</span>
    </div>

    <!-- Contêiner para botões usando grid -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Vitória Liverpool', generateOdd('ex4')" class="px-3 py-1 bg-red-700 text-white rounded">Vitória Liverpool</button>
      <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Empate', generateOdd('ex5')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'Liverpool vs Chelsea', boletimMessage2 = 'Vitória Chelsea', generateOdd('ex6')" class="px-3 py-1 bg-blue-700 text-white rounded">Vitória Chelsea</button>
    </div>
    <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
    <div class="flex justify-between items-center mb-2 dark:text-invert">
      <span>Inglaterra: Premier League - <b>Tottenhan 2 - 2 Newcastle</b></span>
      <span>37min - 1ª Parte</span>
    </div>
    
    <!-- Contêiner para botões usando grid -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'Tottenhan vs Newcastle', boletimMessage2 = 'Vitória Tottenhan', generateOdd('ex7')" class="px-3 py-1 bg-blue-900 text-white rounded">Vitória Tottenhan</button>
      <button @click="boletimMessage = 'Tottenhan vs Newcastle', boletimMessage2 = 'Empate', generateOdd('ex8')" class="px-3 py-1 bg-gray-300 text-blackrounded">Empate</button>
      <button @click="boletimMessage = 'Tottenhan vs Newcastle', boletimMessage2 = 'Vitória Newcastle', generateOdd('ex9')" class="px-3 py-1 bg-teal-400 text-black rounded">Vitória Newcastle</button>
    </div>

    <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

    <!-- Repetir para outros jogos, mantendo a estrutura de grid -->
    <div class="flex justify-between items-center mb-2 dark:text-invert">
      <span>Portugal: Primeira Liga - <b>Rio Ave FC 2 - 0 Boavista FC</b></span>
      <span>83min - 2ª Parte</span>
    </div>

    <!-- Contêiner para botões usando grid -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'Rio Ave FC vs Boavista FC', boletimMessage2 = 'Vitória Rio Ave FC', generateOdd('ex10')" class="px-3 py-1 bg-green-500 text-white rounded">Vitória Rio Ave FC</button>
      <button @click="boletimMessage = 'Rio Ave FC vs Boavista FC', boletimMessage2 = 'Empate', generateOdd('ex11')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'Rio Ave FC vs Boavista FC', boletimMessage2 = 'Vitória Boavista FC', generateOdd('ex12')" class="px-3 py-1 bg-gray-800 text-white rounded">Vitória Boavista FC</button>
    </div>
  
    <hr class="my-8 bg-gray-500 border-0 h-2">
    <h4 class="mb-4 text-2xl font-bold dark:text-white">Próximos jogos:</h4>

    <div class="flex justify-between items-center mb-2 dark:text-invert">
      <span>Liga Europa <b>Bayer Leverkusen - AS Roma</b></span>
      <span>Dia 9/5 às 20h
      </span>
    </div>

    <!-- Contêiner para botões usando grid -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'Bayer Leverkusen vs AS Roma', boletimMessage2 = 'Vitória Bayer Leverkusen', generateOdd('ex21')" class="px-3 py-1 bg-red-700 text-white rounded">Vitória Bayer Leverkusen</button>
      <button @click="boletimMessage = 'Bayer Leverkusen vs AS Roma', boletimMessage2 = 'Empate', generateOdd('ex22')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'Bayer Leverkusen vs AS Roma', boletimMessage2 = 'Vitória AS Roma', generateOdd('ex23')" class="px-3 py-1 text-red-900 bg-yellow-600 rounded">Vitória AS Roma</button>
    </div>
  
    <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
    

    <div class="flex justify-between items-center mb-2 dark:text-invert">
      <span>Liga Europa <b>Atalanta - Marselha</b></span>
      <span>Dia 9/5 às 20h
      </span>
    </div>

    <!-- Contêiner para botões usando grid -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'Atalanta vs Marselha', boletimMessage2 = 'Vitória Atalanta', generateOdd('ex24')" class="px-3 py-1 bg-blue-800 text-white rounded">Vitória Atalanta</button>
      <button @click="boletimMessage = 'Atalanta vs Marselha', boletimMessage2 = 'Empate', generateOdd('ex25')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'Atalanta vs Marselha', boletimMessage2 = 'Vitória Marselha', generateOdd('ex26')" class="px-3 py-1  bg-blue-300 rounded">Vitória Marselha</button>
    </div>
  
    <hr class="my-8 bg-gray-400 border-0 h-1">
    

    <div class="flex justify-between items-center mb-2 dark:text-invert">
      <span>Portugal: Primeira Liga - <b>FC Famalicão - GD Chaves</b></span>
      <span>Dia 10/5 às 20h
      </span>
    </div>

    <!-- Contêiner para botões usando grid -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'GD Chaves vs FC Famalicão', boletimMessage2 = 'Vitória FC Famalicão', generateOdd('ex17')" class="px-3 py-1 bg-yellow-500 text-black rounded">Vitória FC Famalicão</button>
      <button @click="boletimMessage = 'GD Chaves vs FC Famalicão', boletimMessage2 = 'Empate', generateOdd('ex15')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'GD Chaves vs FC Famalicão', boletimMessage2 = 'Vitória GD Chaves', generateOdd('ex16')" class="px-3 py-1 bg-red-900 text-white rounded">Vitória GD Chaves</button>
    </div>
  
    <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

    <div class="flex justify-between items-center mb-2 dark:text-invert">
      <span>Portugal: Primeira Liga - <b>FC Vizela - CF Estrela da Amadora</b></span>
      <span>Dia 11/5 às 15h30
      </span>
    </div>

    <!-- Contêiner para botões usando grid -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <button @click="boletimMessage = 'FC Vizela vs CF Estrela da Amadora', boletimMessage2 = 'Vitória FC Vizela', generateOdd('ex18')" class="px-3 py-1 bg-blue-600 text-white rounded">Vitória FC Vizela</button>
      <button @click="boletimMessage = 'FC Vizela vs CF Estrela da Amadora', boletimMessage2 = 'Empate', generateOdd('ex19')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
      <button @click="boletimMessage = 'FC Vizela vs CF Estrela da Amadora', boletimMessage2 = 'Vitória CF Estrela da Amadora', generateOdd('ex20')" class="px-3 py-1  bg-green-500 rounded">Vitória CF Estrela da Amadora</button>
    </div>
  
  


  </div>
  </div>
</div>
    
    <!-- Seção de jogos ao vivo -->
      
      <!-- Jogo específico -->
  

<!-- secao tenis ------------------------------------------------------------------------------------------------------------------------------------ -->
              <div x-show="activeTab === 'tab3'" style="display: none;">
                <div class="flex justify-between items-center mb-4 dark:text-invert">
                  <span>ATP - Rome Masters: <b>Pavel Kotov - Alex Michelsen</b></span>
                  <span>Dia 10/5 às 11h30
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4">
                  <button @click="boletimMessage = 'Pavel Kotov - Alex Michelsen', boletimMessage2 = 'Vitória Pavel Kotov', generateOdd('ex35')" class="px-3 py-1 bg-blue-300 text-black rounded">Vitória Pavel Kotov</button>
                  <button @click="boletimMessage = 'Pavel Kotov - Alex Michelsen', boletimMessage2 = 'Vitória Alex Michelsen', generateOdd('ex36')"class="px-3 py-1 bg-yellow-300 rounded text-black">Vitória Alex Michelsen</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                <div class="flex justify-between items-center mb-4 dark:text-invert">
                  <span>ATP - Rome Masters: <b>Daniel Evans - Fabio Fognini</b></span>
                  <span>Dia 12/5 às 16h30
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4">
                  <button @click="boletimMessage = 'Daniel Evans - Fabio Fognini', boletimMessage2 = 'Vitória Daniel Evans', generateOdd('ex37')" class="px-3 py-1 bg-blue-300 text-black rounded">Vitória Daniel Evans</button>
                  <button @click="boletimMessage = 'Daniel Evans - Fabio Fognini', boletimMessage2 = 'Vitória Fabio Fognini', generateOdd('ex38')"class="px-3 py-1 bg-yellow-300 rounded text-black">Vitória Fabio Fognini</button>
                </div>
                
                <hr class="my-8 bg-gray-400 border-0 h-1">
                <div class="flex justify-between items-center mb-4 dark:text-invert">
                  <span>Challenger - Santos: <b>Juan Torres - Alvaro Meza</b></span>
                  <span>Dia 10/5 às 14h30
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4">
                  <button @click="boletimMessage = 'Juan Torres - Alvaro Meza', boletimMessage2 = 'Vitória Juan Torres', generateOdd('ex42')" class="px-3 py-1 bg-blue-300 text-black rounded">Vitória Juan Torres</button>
                  <button @click="boletimMessage = 'Juan Torres - Alvaro Meza', boletimMessage2 = 'Vitória Alvaro Meza', generateOdd('ex43')"class="px-3 py-1 bg-yellow-300 rounded text-black">Vitória Alvaro Meza</button>
                </div>

                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

                <div class="flex justify-between items-center mb-4 dark:text-invert">
                  <span>Challenger - Santos: <b>Pedro Sakamoto - Gonzalo Villanueva</b></span>
                  <span>Dia 10/5 às 14h30
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4">
                  <button @click="boletimMessage = 'Pedro Sakamoto - Gonzalo Villanueva', boletimMessage2 = 'Vitória Pedro Sakamoto', generateOdd('ex40')" class="px-3 py-1 bg-blue-300 text-black rounded">Vitória Pedro Sakamoto</button>
                  <button @click="boletimMessage = 'Pedro Sakamoto - Gonzalo Villanueva', boletimMessage2 = 'Vitória Gonzalo Villanueva', generateOdd('ex41')"class="px-3 py-1 bg-yellow-300 rounded text-black">Vitória Gonzalo Villanueva</button>
                </div>

              </div>
<!-- secao basquetebol------------------------------------------------------------------------------------------------------------------------------------ -->
              <div x-show="activeTab === 'tab4'" style="display: none;">
                <div class="flex flex-col">
                  <div class="flex justify-between items-start mb-4">
                    <!-- Informações do jogo ajustadas com margem e tamanho de fonte -->
                    <div class="w-2/5 mr-12">
                      <p class="text-lg mb-6">EuroLiga - Quartos de Final</p>
                      <p class="text-lg mb-6"><strong>Panathinaikos vs Maccabi Tel-Aviv</strong></p>
                      <p class="text-lg mb-6">3min - 3º Quarto</p>
                    </div>
                
                    <!-- Tabela alinhada à direita -->
                    <table class="w-3/5 mx-auto text-center dark:text-black border-collapse">
                      <thead class="bg-gray-100">
                          <tr>
                              <th class="border px-4 py-2">Equipa</th>  <!-- Cabeçalho para a nova coluna -->
                              <th class="border px-4 py-2">1ºQ</th>
                              <th class="border px-4 py-2">2ºQ</th>
                              <th class="border px-4 py-2">3ºQ</th>
                              <th class="border px-4 py-2">Total</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="dark:invert">
                              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-green-800">Panathinaikos</td>  <!-- Célula com fundo azul e letra P -->
                              <td class="border px-4 py-2">19</td>
                              <td class="border px-4 py-2">22</td>
                              <td class="border px-4 py-2">14</td>
                              <td class="border px-4 py-2">55</td>
                          </tr>
                          <tr class="dark:invert">
                              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-blue-900">Maccabi Tel-Aviv</td>  <!-- Célula com fundo vermelho e letra M -->
                              <td class="border px-4 py-2">21</td>
                              <td class="border px-4 py-2">20</td>
                              <td class="border px-4 py-2">15</td>
                              <td class="border px-4 py-2">56</td>
                          </tr>
                      </tbody>
                  </table>
                  </div>
                
                  <!-- Botões abaixo da tabela e do texto -->
                  <div class="grid grid-cols-2 gap-4">
                    <button @click="boletimMessage = 'Panathinaikos vs Maccabi Tel-Aviv', boletimMessage2 = 'Vitória Panathinaikos', generateOdd('ex11')" class="px-3 py-1 bg-green-500 text-white rounded">Vitória Panathinaikos</button>
                    <button @click="boletimMessage = 'Panathinaikos vs Maccabi Tel-Aviv', boletimMessage2 = 'Vitória Maccabi Tel-Aviv', generateOdd('ex13')"class="px-3 py-1 bg-blue-900 text-white rounded dark:bg-white dark:text-gray-800">Vitória Maccabi Tel-Aviv</button>
                  </div>
                </div>
                
                <hr class="m-8 bg-gray-300 border-0 dark:bg-gray-700">
                <hr class="my-8 bg-gray-400 border-0 h-1">
                
                <div class="flex flex-col">
                  <div class="flex justify-between items-start mb-4">
                    <!-- Informações do jogo ajustadas com margem e tamanho de fonte -->
                    <div class="w-2/5 mr-12">
                      <p class="text-lg mb-6">EuroLiga - Quartos de Final</p>
                      <p class="text-lg mb-6"><strong>Baskonia vs Alba Berlin</strong></p>
                      <p class="text-lg mb-6">7min - 2º Quarto</p>
                    </div>
                
                    <!-- Tabela alinhada à direita -->
                    <table class="w-3/5 mx-auto text-center dark:text-black border-collapse">
                      <thead class="bg-gray-100">
                          <tr>
                              <th class="border px-4 py-2">Equipa</th>  <!-- Cabeçalho para a nova coluna -->
                              <th class="border px-4 py-2">1ºQ</th>
                              <th class="border px-4 py-2">2ºQ</th>
                              <th class="border px-4 py-2">Total</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="dark:invert">
                              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-red-800">Baskonia</td>  <!-- Célula com fundo azul e letra P -->
                              <td class="border px-4 py-2">18</td>
                              <td class="border px-4 py-2">7</td>
                              <td class="border px-4 py-2">25</td>
                          </tr>
                          <tr class="dark:invert">
                              <td class="border px-4 py-2 bg-gray-100 dark:text-black text-blue-600">Alba Berlin</td>  <!-- Célula com fundo vermelho e letra M -->
                              <td class="border px-4 py-2">16</td>
                              <td class="border px-4 py-2">4</td>
                              <td class="border px-4 py-2">20</td>
                          </tr>
                      </tbody>
                  </table>
                  </div>
                
                  <!-- Botões abaixo da tabela e do texto -->
                  <div class="grid grid-cols-2 gap-4">
                    <button @click="boletimMessage = 'Baskonia vs Alba Berlin', boletimMessage2 = 'Vitória Baskonia', generateOdd('ex15')" class="px-3 py-1 bg-red-900 text-white rounded">Vitória Baskonia</button>
                    <button @click="boletimMessage = 'Baskonia vs Alba Berlin', boletimMessage2 = 'Vitória Alba Berlin', generateOdd('ex14')"class="px-3 py-1 bg-blue-600 text-white rounded ">Vitória Alba Berlin</button>
                  </div>
                  <hr class="my-8 bg-gray-400 border-0 h-1"> 
                  <h4 class="mb-4 text-2xl font-bold dark:text-white">Próximos jogos:</h4>
                  

                  <div class="flex justify-between items-center mb-4 dark:text-invert">
                    <span>EUA: NBA - <b>New York Knicks vs Indiana Pacers</b></span>
                    <span>Dia 10/5 às 1h
                    </span>
                  </div>
              
                  <!-- Contêiner para botões usando grid -->
                  <div class="grid grid-cols-2 gap-4">
                    <button @click="boletimMessage = 'New York Knicks vs Indiana Pacers', boletimMessage2 = 'Vitória New York Knicks', generateOdd('ex30')" class="px-3 py-1 bg-orange-500 text-white rounded">Vitória New York Knicks</button>
                    <button @click="boletimMessage = 'New York Knicks vs Indiana Pacers', boletimMessage2 = 'Vitória Indiana Pacers', generateOdd('ex31')"class="px-3 py-1 bg-yellow-400 text-black rounded ">Vitória Indiana Pacers</button>
                  </div>
                  <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

                  <div class="flex justify-between items-center mb-4 dark:text-invert">
                    <span>EUA: NBA - <b>Minnesota TimberWolves vs Denver Nuggets</b></span>
                    <span>Dia 10/5 às 1h
                    </span>
                  </div>
              
                  <!-- Contêiner para botões usando grid -->
                  <div class="grid grid-cols-2 gap-4">
                    <button @click="boletimMessage = 'Minnesota TimberWolves vs Denver Nuggets', boletimMessage2 = 'Vitória Minnesota TimberWolves', generateOdd('ex32')" class="px-3 py-1 bg-blue-900 text-white rounded">Vitória Minnesota TimberWolves</button>
                    <button @click="boletimMessage = 'Minnesota TimberWolves vs Denver Nuggets', boletimMessage2 = 'Vitória Denver Nuggets', generateOdd('ex33')"class="px-3 py-1 bg-gray-400 rounded ">Vitória Denver Nuggets</button>
                  </div>
                  <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">






                </div>
              </div>
<!-- secao volei------------------------------------------------------------------------------------------------------------------------------------ -->
              <div x-show="activeTab === 'tab5'" style="display: none;">
                <div class="flex justify-between items-center mb-4 dark:text-invert">
                  <span>FIVB Nations League - Feminino: <b>Itália - Polónia</b></span>
                  <span>Dia 10/5 às 11h30
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4">
                  <button @click="boletimMessage = 'Itália - Polónia', boletimMessage2 = 'Vitória Itália', generateOdd('ex200')" class="px-3 py-1 bg-green-700 text-white rounded">Vitória Itália</button>
                  <button @click="boletimMessage = 'Itália - Polónia', boletimMessage2 = 'Vitória Polónia', generateOdd('ex201')"class="px-3 py-1 bg-red-600 text-white rounded ">Vitória Polónia</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

                <div class="flex justify-between items-center mb-4 dark:text-invert">
                  <span>FIVB Nations League - Feminino: <b>França - Alemanha</b></span>
                  <span>Dia 11/5 às 14h
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4">
                  <button @click="boletimMessage = 'França - Alemanha', boletimMessage2 = 'Vitória França', generateOdd('ex204')" class="px-3 py-1 bg-blue-800 text-white rounded">Vitória França</button>
                  <button @click="boletimMessage = 'França - Alemanha', boletimMessage2 = 'Vitória Alemanha', generateOdd('ex205')"class="px-3 py-1 bg-yellow-500 text-black rounded ">Vitória Alemanha</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">



                <div class="flex justify-between items-center mb-4 dark:text-invert">
                  <span>FIVB Nations League - Feminino: <b>Brasil - Canadá</b></span>
                  <span>Dia 12/5 às 14h
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4">
                  <button @click="boletimMessage = 'Brasil - Canadá', boletimMessage2 = 'Vitória Brasil', generateOdd('ex202')" class="px-3 py-1 bg-green-700 text-white rounded">Vitória Brasil</button>
                  <button @click="boletimMessage = 'Itália - Polónia', boletimMessage2 = 'Vitória Canadá', generateOdd('ex203')"class="px-3 py-1 bg-red-600 text-white rounded ">Vitória Canadá</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

                <div class="flex justify-between items-center mb-4 dark:text-invert">
                  <span>FIVB Nations League - Feminino: <b>Bulgária - Países Baixos</b></span>
                  <span>Dia 12/5 às 16h
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4">
                  <button @click="boletimMessage = 'Bulgária - Países Baixos', boletimMessage2 = 'Vitória Bulgária', generateOdd('ex206')" class="px-3 py-1 bg-teal-700 text-white rounded">Vitória Bulgária</button>
                  <button @click="boletimMessage = 'Bulgária - Países Baixos', boletimMessage2 = 'Vitória Países Baixos', generateOdd('ex207')"class="px-3 py-1 bg-blue-900 text-white rounded ">Vitória Países Baixos</button>
                </div>



              </div>
<!-- secao esports------------------------------------------------------------------------------------------------------------------------------------ -->
              <div x-show="activeTab === 'tab6'" style="display: none;">
                <h4 class="mb-4 text-2xl font-bold dark:text-white">League of Legends:</h4>
                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>Mid-Season Invitational 2024 - <b>Bilibili Gaming - PSG Talon</b></span>
                  <span>Dia 12/5 às 17h30
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-3 gap-4 mb-4">
                  <button @click="boletimMessage = 'Bilibili Gaming - PSG Talon', boletimMessage2 = 'Vitória Bilibili Gaming', generateOdd('ex300')" class="px-3 py-1 bg-teal-400 text-black rounded">Vitória Bilibili Gaming</button>
                  <button @click="boletimMessage = 'Bilibili Gaming - PSG Talon', boletimMessage2 = 'Empate', generateOdd('ex301')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
                  <button @click="boletimMessage = 'Bilibili Gaming - PSG Talon', boletimMessage2 = 'Vitória PSG Talon', generateOdd('ex302')" class="px-3 py-1  bg-blue-900 text-white rounded">Vitória PSG Talon</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>Mid-Season Invitational 2024 - <b>G2 Esports - Fnatic</b></span>
                  <span>Dia 12/5 às 19h30
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-3 gap-4 mb-4">
                  <button @click="boletimMessage = 'G2 Esports - Fnatic', boletimMessage2 = 'Vitória G2 Esports', generateOdd('ex303')" class="px-3 py-1 bg-gray-500 text-white rounded">Vitória G2 Esports</button>
                  <button @click="boletimMessage = 'G2 Esports - Fnatic', boletimMessage2 = 'Empate', generateOdd('ex304')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
                  <button @click="boletimMessage = 'G2 Esports - Fnatic', boletimMessage2 = 'Vitória Fnatic', generateOdd('ex305')" class="px-3 py-1  bg-orange-500 text-black rounded">Vitória Fnatic</button>
                </div>
                <hr class="my-8 bg-gray-400 border-0 h-1"> 
                <h4 class="mb-4 text-2xl font-bold dark:text-white">Rocket League:</h4>
                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>RLCS 2024 - Major 2: Open Qualifiers - <b>M80 - Cloud9</b></span>
                  <span>Dia 12/5 às 17h30
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-3 gap-4 mb-4">
                  <button @click="boletimMessage = 'M80 - Cloud9', boletimMessage2 = 'Vitória M80', generateOdd('ex306')" class="px-3 py-1 bg-yellow-400 text-black rounded">Vitória M80</button>
                  <button @click="boletimMessage = 'M80 - Cloud9', boletimMessage2 = 'Empate', generateOdd('ex307')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
                  <button @click="boletimMessage = 'M80 - Cloud9', boletimMessage2 = 'Vitória Cloud9', generateOdd('ex308')" class="px-3 py-1  bg-blue-500 text-white rounded">Vitória Cloud9</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>RLCS 2024 - Major 2: Open Qualifiers - <b>100 Thieves - NRG Esports</b></span>
                  <span>Dia 13/5 às 18h00
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-3 gap-4 mb-4">
                  <button @click="boletimMessage = '100 Thieves - NRG Esports', boletimMessage2 = 'Vitória 100 Thieves', generateOdd('ex306')" class="px-3 py-1 bg-red-700 text-white rounded">Vitória 100 Thieves</button>
                  <button @click="boletimMessage = '100 Thieves - NRG Esports', boletimMessage2 = 'Empate', generateOdd('ex307')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
                  <button @click="boletimMessage = '100 Thieves - NRG Esports', boletimMessage2 = 'Vitória NRG Esports', generateOdd('ex308')" class="px-3 py-1  bg-gray-700 text-white rounded">Vitória NRG Esports</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

                <hr class="my-8 bg-gray-400 border-0 h-1"> 
                <h4 class="mb-4 text-2xl font-bold dark:text-white">CS GO:</h4>
                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>ESL Challenger League: Season 47 - <b>Galorys - Take Flyte</b></span>
                  <span>Dia 20/5 às 3h30
                  </span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-3 gap-4 mb-4">
                  <button @click="boletimMessage = 'Galorys - Take Flyte', boletimMessage2 = 'Vitória Galorys', generateOdd('ex306')" class="px-3 py-1 bg-purple-800 text-white rounded">Vitória Galorys</button>
                  <button @click="boletimMessage = 'Galorys - Take Flyte', boletimMessage2 = 'Empate', generateOdd('ex307')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
                  <button @click="boletimMessage = 'Galorys - Take Flyte', boletimMessage2 = 'Vitória Take Flyte', generateOdd('ex308')" class="px-3 py-1  bg-pink-400 text-white rounded">Vitória Take Flyte</button>
                </div>


              </div>
<!-- secao golfe------------------------------------------------------------------------------------------------------------------------------------ -->
              <div x-show="activeTab === 'tab7'" style="display: none;">
                <div class="flex justify-between items-center mb-6 dark:text-invert">
                  <span><b>U.S. Open</b> - Vencedor</span>
                  <span><b>Fecha a 13/6 às 00h00</b></span>
                </div>
                
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-4 gap-6 mb-6">
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Adam Scott', generateOdd('ex100')" class="px-3 py-1 bg-gray-300 text-black rounded">Adam Scott</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Brian Rahm', generateOdd('ex101')" class="px-3 py-1 bg-gray-300 text-black rounded">Brian Rahm</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Brooks Mcllroy', generateOdd('ex102')" class="px-3 py-1 bg-gray-300 text-black rounded">Brooks Mcllroy</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Cameron Aberg', generateOdd('ex103')" class="px-3 py-1 bg-gray-300 text-black rounded">Cameron Aberg</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                <div class="grid grid-cols-4 gap-6 mb-6">
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Corey Hovland', generateOdd('ex104')" class="px-3 py-1 bg-gray-300 text-black rounded">Corey Hovland</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Eric Koepka', generateOdd('ex105')" class="px-3 py-1 bg-gray-300 text-black rounded">Eric Koepka</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Francis Cantlay', generateOdd('ex106')" class="px-3 py-1 bg-gray-300 text-black rounded">Francis Cantlay</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Jason Day', generateOdd('ex107')" class="px-3 py-1 bg-gray-300 text-black rounded">Jason Day</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                <div class="grid grid-cols-4 gap-6 mb-6">
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Justin Thomas', generateOdd('ex108')" class="px-3 py-1 bg-gray-300 text-black rounded">Justin Thomas</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Min Woo Lee', generateOdd('ex109')" class="px-3 py-1 bg-gray-300 text-black rounded">Min Woo Lee</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Nick Taylor', generateOdd('ex110')" class="px-3 py-1 bg-gray-300 text-black rounded">Nick Taylor</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Patrick Cantlay', generateOdd('ex111')" class="px-3 py-1 bg-gray-300 text-black rounded">Patrick Cantlay</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                <div class="grid grid-cols-4 gap-6 mb-6">
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Rickie Fowler', generateOdd('ex112')" class="px-3 py-1 bg-gray-300 text-black rounded">Rickie Fowler</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Russel Henley', generateOdd('ex113')" class="px-3 py-1 bg-gray-300 text-black rounded">Russel Henley</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Ryan Fox', generateOdd('ex114')" class="px-3 py-1 bg-gray-300 text-black rounded">Ryan Fox</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Sam Burns', generateOdd('ex115')" class="px-3 py-1 bg-gray-300 text-black rounded">Sam Burns</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                <div class="grid grid-cols-4 gap-6 mb-6">
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Si Woo Kim', generateOdd('ex116')" class="px-3 py-1 bg-gray-300 text-black  rounded">Si Woo Kim</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Tommy Fleetwood', generateOdd('ex117')" class="px-3 py-1 bg-gray-300 text-black rounded">Tommy Fleetwood</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Tyrell Hatton', generateOdd('ex118')" class="px-3 py-1 bg-gray-300 text-black rounded">Tyrell Hatton</button>
                  <button @click="boletimMessage = 'Vencedor do U.S. Open', boletimMessage2 = 'Viktor Schauffele', generateOdd('ex119')" class="px-3 py-1 bg-gray-300 text-blackte rounded">Viktor Schauffele</button>
                </div>
                
                
              </div>
<!-- secao hoquei----------------------------------------------------------------------------------------------------------------------------------- -->
              <div x-show="activeTab === 'tab8'" style="display: none;">
                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>EUA: NHL- <b>Florida Panthers - Boston Bruins</b></span>
                  <span>Dia 11/5 - 3h30</span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-3 gap-4 mb-4">
                  <button @click="boletimMessage = 'Florida Panthers - Boston Bruins', boletimMessage2 = 'Vitória Florida Panthers', generateOdd('ex70')" class="px-3 py-1 bg-yellow-700 text-white rounded">Vitória Florida Panthers</button>
                  <button @click="boletimMessage = 'Florida Panthers - Boston Bruins', boletimMessage2 = 'Empate', generateOdd('ex71')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
                  <button @click="boletimMessage = 'Florida Panthers - Boston Bruins', boletimMessage2 = 'Vitória Boston Bruins', generateOdd('ex72')" class="px-3 py-1 bg-gray-800 text-white rounded">Vitória Boston Bruins</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>EUA: NHL- <b>Vancouver Canucks - Edmonton Oilers</b></span>
                  <span>Dia 13/5 - 1h00</span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-3 gap-4 mb-4">
                  <button @click="boletimMessage = 'Vancouver Canucks - Edmonton Oilers', boletimMessage2 = 'Vitória Vancouver Canucks', generateOdd('ex75')" class="px-3 py-1 bg-blue-800 text-white rounded">Vitória Vancouver Canucks</button>
                  <button @click="boletimMessage = 'Vancouver Canucks - Edmonton Oilers', boletimMessage2 = 'Empate', generateOdd('ex76')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
                  <button @click="boletimMessage = 'Vancouver Canucks - Edmonton Oilers', boletimMessage2 = 'Vitória Edmonton Oilers', generateOdd('ex77')" class="px-3 py-1 bg-red-700 text-white rounded">Vitória Edmonton Oilers</button>
                </div>

                <hr class="my-8 bg-gray-400 border-0 h-1"> 

                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>EUA: AHL- <b>Cleveland Monsters - Belleville Senators</b></span>
                  <span>Dia 17/5 - 4h15</span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-3 gap-4 mb-4">
                  <button @click="boletimMessage = 'Cleveland Monsters - Belleville Senators', boletimMessage2 = 'Vitória Cleveland Monsters', generateOdd('ex80')" class="px-3 py-1 bg-teal-800 text-white rounded">Vitória Cleveland Monsters</button>
                  <button @click="boletimMessage = 'Cleveland Monsters - Belleville Senators', boletimMessage2 = 'Empate', generateOdd('ex81')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
                  <button @click="boletimMessage = 'Cleveland Monsters - Belleville Senators', boletimMessage2 = 'Vitória Belleville Senators', generateOdd('ex82')" class="px-3 py-1 bg-pink-900 text-white rounded">Vitória Belleville Senators</button>
                </div>

              </div>
<!-- secao andebol------------------------------------------------------------------------------------------------------------------------------------ -->
              <div x-show="activeTab === 'tab9'" style="display: none;">
                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>Qualificação do Campeonato do Mundo - <b>Itália - Montenegro</b></span>
                  <span>Dia 10/5 - 16h00</span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-3 gap-4 mb-4">
                  <button @click="boletimMessage = 'Itália - Montenegro', boletimMessage2 = 'Vitória Itália', generateOdd('ex50')" class="px-3 py-1 bg-green-700 text-white rounded">Vitória Itália</button>
                  <button @click="boletimMessage = 'Itália - Montenegro', boletimMessage2 = 'Empate', generateOdd('ex51')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
                  <button @click="boletimMessage = 'Itália - Montenegro', boletimMessage2 = 'Vitória Montenegro', generateOdd('ex52')" class="px-3 py-1 bg-red-700 text-white rounded">Vitória Montenegro</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                
                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>Qualificação do Campeonato do Mundo - <b>Polónia - Eslováquia</b></span>
                  <span>Dia 10/5 - 19h00</span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-3 gap-4 mb-4">
                  <button @click="boletimMessage = 'Polónia - Eslováquia', boletimMessage2 = 'Vitória Polónia', generateOdd('ex53')" class="px-3 py-1 bg-red-700 text-white rounded">Vitória Polónia</button>
                  <button @click="boletimMessage = 'Polónia - Eslováquia', boletimMessage2 = 'Empate', generateOdd('ex54')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
                  <button @click="boletimMessage = 'Polónia - Eslováquia', boletimMessage2 = 'Vitória Eslováquia', generateOdd('ex55')" class="px-3 py-1 bg-blue-800 text-white rounded">Vitória Eslováquia</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>Qualificação do Campeonato do Mundo - <b>Estónia - Lituânia</b></span>
                  <span>Dia 11/5 - 19h30</span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-3 gap-4 mb-4">
                  <button @click="boletimMessage = 'Estónia - Lituânia', boletimMessage2 = 'Vitória Estónia', generateOdd('ex56')" class="px-3 py-1 bg-blue-500 text-white rounded">Vitória Estónia</button>
                  <button @click="boletimMessage = 'Estónia - Lituânia', boletimMessage2 = 'Empate', generateOdd('ex57')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
                  <button @click="boletimMessage = 'Estónia - Lituânia', boletimMessage2 = 'Vitória Lituânia', generateOdd('ex58')" class="px-3 py-1 bg-yellow-500 text-white rounded">Vitória Lituânia</button>
                </div>
                <hr class="my-8 bg-gray-400 border-0 h-1"> 

                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>EHF European League - <b>SG Flensburg-Handewitt - CS Dinamo Bucharest</b></span>
                  <span>Dia 25/5 - 14h00</span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-3 gap-4 mb-4">
                  <button @click="boletimMessage = 'SG Flensburg-Handewitt - CS Dinamo Bucharest', boletimMessage2 = 'Vitória SG Flensburg-Handewitt', generateOdd('ex60')" class="px-3 py-1 bg-blue-800 text-white rounded">Vitória SG Flensburg-Handewitt</button>
                  <button @click="boletimMessage = 'SG Flensburg-Handewitt - CS Dinamo Bucharest', boletimMessage2 = 'Empate', generateOdd('ex61')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
                  <button @click="boletimMessage = 'SG Flensburg-Handewitt - CS Dinamo Bucharest', boletimMessage2 = 'Vitória CS Dinamo Bucharest', generateOdd('ex62')" class="px-3 py-1 bg-red-800 text-white rounded">Vitória CS Dinamo Bucharest</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>EHF European League - <b>Rhein-Neckar Lowen - Fuchse Berlin</b></span>
                  <span>Dia 25/5 - 17h00</span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-3 gap-4 mb-4">
                  <button @click="boletimMessage = 'Rhein-Neckar Lowen - Fuchse Berlin', boletimMessage2 = 'Vitória Rhein-Neckar Lowen', generateOdd('ex63')" class="px-3 py-1 bg-yellow-500 text-white rounded">Vitória Rhein-Neckar Lowen</button>
                  <button @click="boletimMessage = 'Rhein-Neckar Lowen - Fuchse Berlin', boletimMessage2 = 'Empate', generateOdd('ex64')" class="px-3 py-1 bg-gray-300 text-black rounded">Empate</button>
                  <button @click="boletimMessage = 'Rhein-Neckar Lowen - Fuchse Berlin', boletimMessage2 = 'Vitória Fuchse Berlin', generateOdd('ex65')" class="px-3 py-1 bg-green-800 text-white rounded">Vitória Fuchse Berlin</button>
                </div>


              </div>
              
<!-- secao snooker------------------------------------------------------------------------------------------------------------------------------------ -->
              <div x-show="activeTab === 'tab10'" style="display: none;">
                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>World Seniors Championship - <b>Tony Knowles - Stuart Watson</b></span>
                  <span>Dia 12/5 - 19h00</span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4 mb-4">
                  <button @click="boletimMessage = 'Tony Knowles - Stuart Watson', boletimMessage2 = 'Vitória Tony Knowles', generateOdd('ex90')" class="px-3 py-1 bg-gray-600 text-white rounded">Vitória Tony Knowles</button>
                  <button @click="boletimMessage = 'Tony Knowles - Stuart Watson', boletimMessage2 = 'Vitória Stuart Watson', generateOdd('ex91')" class="px-3 py-1 bg-gray-400 text-black rounded">Vitória Stuart Watson</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>World Seniors Championship - <b>Joe Johnson - Barry Pinches</b></span>
                  <span>Dia 12/5 - 21h00</span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4 mb-4">
                  <button @click="boletimMessage = 'Joe Johnson - Barry Pinches', boletimMessage2 = 'Vitória Joe Johnson', generateOdd('ex92')" class="px-3 py-1 bg-gray-600 text-white rounded">Vitória Joe Johnsons</button>
                  <button @click="boletimMessage = 'Joe Johnson - Barry Pinches', boletimMessage2 = 'Vitória Barry Pinches', generateOdd('ex93')" class="px-3 py-1 bg-gray-400 text-black rounded">Vitória Barry Pinches</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>World Seniors Championship - <b>Jimmy White - Andrew Norman</b></span>
                  <span>Dia 14/5 - 22h30</span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4 mb-4">
                  <button @click="boletimMessage = 'Jimmy White - Andrew Norman', boletimMessage2 = 'Vitória Jimmy White', generateOdd('ex94')" class="px-3 py-1 bg-gray-600 text-white rounded">Vitória Jimmy White</button>
                  <button @click="boletimMessage = 'Jimmy White - Andrew Norman', boletimMessage2 = 'Vitória Andrew Norman', generateOdd('ex95')" class="px-3 py-1 bg-gray-400 text-black rounded">Vitória Andrew Norman</button>
                </div>
                <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">

                <div class="flex justify-between items-center mb-2 dark:text-invert">
                  <span>World Seniors Championship - <b>Tony Drago - Michael Judge</b></span>
                  <span>Dia 14/5 - 22h30</span>
                </div>
            
                <!-- Contêiner para botões usando grid -->
                <div class="grid grid-cols-2 gap-4 mb-4">
                  <button @click="boletimMessage = 'Tony Drago - Michael Judge', boletimMessage2 = 'Vitória Tony Drago', generateOdd('ex96')" class="px-3 py-1 bg-gray-600 text-white rounded">Vitória Tony Drago</button>
                  <button @click="boletimMessage = 'Tony Drago - Michael Judge', boletimMessage2 = 'Vitória Michael Judge', generateOdd('ex97')" class="px-3 py-1 bg-gray-400 text-black rounded">Vitória Michael Judge</button>
                </div>





              </div>
            </div>
          </div>
                <!-- Seção do Boletim (novo conteúdo) -->
                <div class="flex-1 bg-gray-100 p-4 text-lg rounded-lg shadow ml-4 dark:text-white dark:bg-black">
                  <h2 class="text-3xl text-center font-bold">Boletim</h2>
                  <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                  <div class="my-2">
                      <div x-text="boletimMessage" class="text-lg text-center"></div>
                      <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                      
                      <div class="flex justify-between items-center text-lg space-x-2">
                          <span><strong>Aposta:</strong></span>
                          <div x-text="boletimMessage2"></div>
                      </div>
                      <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
                      <div class="flex justify-between items-center mb-2">
                          <span><strong>Montante (€):</strong></span>
                          <input type="number" class="border rounded p-1 text-right w-20 dark:text-black"
                                 x-model.number="betAmount"
                                 x-on:input="updatePotentialWinnings()"
                                 placeholder="€" min="1">
                      </div>
                      <div class="flex justify-between items-center mb-2">
                          <span><strong>Odd:</strong></span>
                          <span x-text="currentOdd"></span>
                      </div>
                      <div class="flex justify-between items-center mb-4">
                          <span><strong>Ganhos Possíveis:</strong></span>
                          <span x-text="potentialWinnings + '€'"></span>
                      </div>
                      <button class="mt-4 w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition duration-300"
                              @click="showBetSlip = true">
                          Apostar
                      </button>
                  </div>
              </div>

              <!-- Pop-up para confirmação da aposta -->
              <div x-show="showBetSlip" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center p-4" x-transition>
                <div class="bg-white dark:bg-gray-900 p-6 rounded shadow-lg max-w-lg w-full">
                  <h3 class="text-2xl text-center font-bold mb-4">Confirmar Aposta</h3>
                  <p class="text-center mb-4">Tem a certeza que pretende fazer a aposta selecionada?</p>
                  <div class="flex gap-4 justify-center mb-2 ">
                    <button class="px-6 py-2 bg-green-500 text-white rounded" @click="location.reload()">Confirmar</button>
                    <button class="px-6 py-2 bg-red-500 text-white rounded" @click="showBetSlip = false">Cancelar</button>
                  </div>
                </div>
              </div>
        </div>      
      </div>

                

                
          
	</Container>
    <!-- Alpine.js component for tabs -->

      
</Layout>

